<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Money Cashboard</title>
  </head>
  <body>
    <nav>
      <li> <a href="/">Balance by Year and Month</a> </li>
      <li> <a href="/home">Balance by Date Range</a> </li>
      <li> <a href="/transactions">Transaction History</a> </li>
      <li> <a href="/transactions/new">Add Transaction</a> </li>
      <li> <a href="/budgets">Budgets assigned</a> </li>
      <li> <a href="/budgets/new">Add Budget</a> </li>
      <li> <a href="/vendors">Vendor List</a> </li>
      <li> <a href="/vendors/new">Add Vendor</a> </li>
      <li> <a href="/categories">Category List</a> </li>
      <li> <a href="/categories/new">Add Category</a> </li>
    </nav>
    <%= yield %>
  </body>
</html>
