<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Money Cashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">


 <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
 <link rel="stylesheet" type="text/css" href="/styles/forms.css">
 <link rel="stylesheet" type="text/css" href="/styles/structure.css">
 <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  </head>
  <body>
    <nav>
      <ul>
      <li> <a href="/">Balance</a> </li>
      <li> <a href="/home">Multiple Balances</a> </li>
      <li> <a href="/transactions">Transactions</a> </li>
      <li> <a href="/transactions/new">Add Transaction</a> </li>
      <li> <a href="/budgets">Budgets</a> </li>
      <li> <a href="/budgets/new">Add Budget</a> </li>
      <li> <a href="/vendors">Vendors</a> </li>
      <li> <a href="/vendors/new">Add Vendor</a> </li>
      <li> <a href="/categories">Categories</a> </li>
      <li> <a href="/categories/new">Add Category</a> </li>
    </ul>
    </nav>
    <%= yield %>
  </body>
</html>
