<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Money Cashboard</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>Transaction History</li>
        <li>Create Transaction</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
