<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Money Cashboard</title>
  </head>
  <body>
    <nav>
      <li> <a href="/balance">Balance</a> </li>
      <li> <a href="/transactions">Transaction History</a> </li>
      <li> <a href="/transactions/new">Add Transaction</a> </li>
      <li> <a href="/budgets">Budgets assigned</a> </li>
      <li> <a href="/budgets/new">Add Budget</a> </li>
    </nav>
    <%= yield %>
  </body>
</html>
