<form class="" action="/vendors/<%= @vendor.id %>" method="post">

  <label for="name_input">Vendor Name:</label>
  <input required id="name_input" type="text"
  name="name" value="<%= @vendor.name %>">

<input type="submit" name="" value="submit">


</form>
