<form class="" action="/vendors" method="post">

  <label for="name_input">Vendor Name:</label>
  <input required id="name_input" type="text"
  name="name" value="">

<input type="submit" name="" value="submit">


</form>
