<form class="" action="/balance" method="get">


<label for="date_input">Select End Date:</label>
<input required id="date_input" type="date"
name="start_date" value="">

<input type="submit" name="" value="submit">

</form>
