<form class="" action="/balance2" method="get">

<label for="date_input">Select Start Date:</label>
<input required id="date_input" type="date"
name="start_date" value="">

<label for="date_input">Select End Date:</label>
<input required id="date_input" type="date"
name="end_date" value="">

<input type="submit" name="" value="submit">

</form>
