<form class="" action="/transactions" method="post">
  <label for="transaction_date_input">Select Date:</label>
  <input required id="transaction_date_input" type="date"
  name="transaction_date" value="">

  <label for="amount_input">Transaction Amount:</label>
  <input id="amount_input" type="number"
  name="amount" value="" min="1" step="0.01" required>

  <label for="category_select">Select Category:</label>
  <select class="" name="category_id" id="category_select">
    <% @categories.each do |category| %>
    <option value=<%= category.id %>><%= category.name.capitalize %></option>
          <% end %>
  </select>

  <label for="vendor_select">Select Vendor:</label>
  <input required type="text" name="name" list="vendor_select">
  <datalist id="vendor_select">
    <% @vendors.each do |vendor| %>
    <option value=<%= vendor.name %>><%= vendor.name.capitalize %></option>
          <% end %>
  </datalist>




<input type="submit" name="" value="submit">

</form>
