<form class="" action="/budgets" method="post">

  <label for="category_select">Select Category:</label>
  <select class="" name="category_id" id="category_select">
    <% @categories.each do |category| %>
    <option value=<%= category.id %>><%= category.name.capitalize %></option>
          <% end %>
  </select>

  <label for="amount_input">Budget Amount:</label>
  <input required id="amount_input" type="number"
  name="amount_set" value="" step="0.01">

  <label for="start_date_input">Select Start Date:</label>
  <input required id="start_date_input" type="date"
  name="start_date" value="">


<input type="submit" name="" value="submit">


</form>
